@charset "UTF-8";

/* Estilo para telas deitado */

.logo-meio img {
    width: 700px;
}
.rodape {
    background-color: rgb(66, 65, 65);
    width: 100vw;
}

.logos {
    display: flex;
    align-items: center;
    padding: 20px 60px;
    justify-content: center;
    gap: 35px;
}

.logos img {
    width: 50px;
    border-radius: 50%;

}